# shellcheck shell=bash
export MYSQL_HOST=127.0.0.1
export MYSQL_PORT=3307

export POSTGRES_HOST=localhost
export POSTGRES_PORT=5433
export POSTGRES_USER=postgres
export POSTGRES_PASSWORD=postgres

export MONGODB_HOST=localhost
export MONGODB_PORT=27018
